* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_icon {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    margin-top: 80px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 60%;
}

.nav__logo img {
    width: 20%;
}

.nav__menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    margin-top: 50px;
    height: 500px;
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list__item:nth-child(1) {
    width: 38%;
}

.header__list__item:nth-child(2) {
    width: 50%;
}

.header__list__item__title {
    color: #000;
    font-family: Muli;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

.header__list__item__text {
    color: #7d7987;
    font-family: Muli;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 152.381% */
}

.header__list__item__button {
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    background: #458ff6;
    color: #fff;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    border: none;
}

.header__list__item_image {
    width: 100%;
}

.service__title {
    color: #000;
    font-family: Muli;
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 155.556% */
}

.service__text {
    width: 80%;
    margin: auto;
    color: #7D7987;
    text-align: center;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 166.667% */
    margin-bottom: 70px;
}

.service__line {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    margin: 25px auto;
}

.service__list {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.service__list__item {
    width: 30%;
    border-radius: 20px;
    background: #FFF;
    height: 340px;
    flex-shrink: 0;
    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    padding: 50px 50px 0 37px;
}

.service__list__item h2 {
    color: #000;
    font-family: Muli;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 233.333% */
    margin: 15px 0;
}

.service__list__item p {
    color: #7D7987;
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 175% */
}

.service__list__item__button {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__list__item__button button {
    width: 190px;
    height: 53px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    font-family: Muli;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.blog {
    width: 100%;
    /*background-color: red;*/
}

.blog__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blog__list__item {
    width: 50%;
    margin-bottom: 100px;

}

.blog__list__item img {
    width: 100%;
}

.blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
    padding-left: 120px;
    padding-right: 50px;
}

.blog__list__item h2 {
    color: #000;
    padding-right: 100px;
    font-family: Muli;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
}

.blog__list__item p {
    color: #7D7987;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 30px; /* 166.667% */
}

.blog__list__item hr {
    width: 56px;
    margin: 10px 0px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
}

.blog__list__item button {
    width: 170px;
    height: 50px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.footer{
    width: 100%;
    height: 350px;
    background-color: #67C3F3;
}

.footer .container{
    display: flex;
    align-items: center;
    height: 100%;
}
.footer__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list__item h2{
    color: #FFF;
    font-family: Muli;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 300% */
}

.footer__list__item p{
    color: #FFF;
    font-family: Muli;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 38px; /* 211.111% */

}

.footer__list__item span{
    color: #FFF;
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */
}
.footer__list__item:nth-child(1){
    width: 30%;
    height: 70%;
}
.footer__list__item:nth-child(1) p{
    margin-bottom: 20px;
}
.footer__list__item:nth-child(2){
    width: 15%;
    height: 70%;
}
.footer__list__item:nth-child(3){
    width: 15%;
    height: 70%;
}
.footer__list__item:nth-child(4){
    width: 15%;
    height: 70%;
}

@media only screen and (max-width: 1300px) {

    .navbar {
        margin-top: 70px;
    }

    .header {
        margin-top: 30px;
        height: 480px;
    }

    .nav__logo {
        width: 50%;
    }

    .nav__logo img {
        width: 30%;
    }

    .nav__menu {
        width: 60%;
    }

    .nav__menu__item__link {
        font-size: 17px;
    }

    .header__list__item:nth-child(1) {
        width: 40%;
    }

    .header__list__item:nth-child(2) {
        width: 50%;
    }

    .header__list__item__title {
        font-size: 48px;
        line-height: 50px;
    }

    .header__list__item__text {
        font-size: 20px;
        margin: 18px 0;
    }

    .header__list__item__button {
        width: 40%;
        height: 45px;
        font-size: 15px;
    }

    .service__line {
        margin: 10px auto;
    }

    .service__list__item h2 {
        font-size: 22px;
    }

    .service__list__item__button {
        height: 150px;
    }

    .blog__list__item {
        margin-bottom: 10px;
    }

    .blog__list__item h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .blog__list__item hr {
        margin: 10px 0;
    }

    .blog__list__item p {
        font-size: 15px;
        margin-bottom: 7px;
        line-height: 25px;
    }

    .blog__list__item button {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    .blog__list__item {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        margin-top: 60px;
    }

    .header {
        margin-top: 30px;
        height: 430px;
    }

    .nav__logo {
        width: 45%;
    }

    .nav__logo img {
        width: 30%;
    }

    .nav__menu {
        width: 55%;
    }

    .nav__menu__item__link {
        font-size: 16px;
    }

    .header__list__item:nth-child(1) {
        width: 44%;
    }

    .header__list__item:nth-child(2) {
        width: 50%;
    }

    .header__list__item__title {
        font-size: 48px;
        line-height: 40px;
    }

    .header__list__item__text {
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0;
    }

    .header__list__item__button {
        width: 40%;
        height: 45px;
        font-size: 15px;
    }

    .service__list__item__button {
        height: 150px;
    }

    .blog__list__item {
        margin-bottom: 40px;
        padding-right: 0px;
    }

    .blog__list__item h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .blog__list__item p {
        line-height: 20px;
        margin-bottom: 5px;
    }

    .blog__list__item button {
        height: 40px;
        width: 40%;
    }

    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 90px;
        padding-right: 40px;
    }

    .footer{
        height: 300px;
    }
    .footer__list__item img{
        width: 48%;
    }
    .footer__list__item h2{
        font-size: 18px;
        line-height: 30px;
    }

    .footer__list__item p{
        font-size: 14px;
        line-height: 35px;
    }
    .footer__list__item:nth-child(1) p{
        margin-bottom: 1px;
        line-height: 33px;
    }
}

@media only screen and (max-width: 1100px) {
    .navbar {
        margin-top: 50px;
    }

    .header {
        margin-top: 25px;
        height: 400px;
    }

    .nav__logo {
        width: 40%;
    }

    .nav__logo img {
        width: 40%;
    }

    .nav__menu {
        width: 60%;
    }

    .nav__menu__item__link {
        font-size: 16px;
    }

    .header__list__item:nth-child(1) {
        width: 45%;
    }

    .header__list__item__title {
        font-size: 45px;
    }

    .header__list__item__text {
        font-size: 18px;
    }

    .header__list__item__button {
        width: 40%;
        height: 45px;
        font-size: 15px;
    }

    .service__list {
        /* margin: 0; */
        height: 680px;
    }

    .service__text {
        font-size: 15px;
    }

    .service__list__item {
        height: 320px;
        padding: 40px 30px 0 30px;
    }

    .service__list__item__button {
        height: 130px;
    }

    .service__list__item__button button {
        font-size: 12px;
    }

    .service__list__item img {
        width: 43%;
    }

    .blog__list__item h2 {
        font-size: 24px;
    }

    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 80px;
        padding-right: 40px;
    }

    .blog__list__item hr {
        margin: 5px 0;
    }

    .blog__list__item p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .blog__list__item button {
        height: 33px;
        font-size: 11px;
    }


}

@media only screen and (max-width: 1000px) {
    .navbar {
        margin-top: 50px;
    }

    .header {
        margin-top: 20px;
        height: 350px;
    }

    .nav__logo {
        width: 35%;
    }

    .nav__logo img {
        width: 50%;
    }

    .nav__menu {
        width: 60%;
    }

    .nav__menu__item__link {
        font-size: 15px;
    }

    .header__list__item:nth-child(1) {
        width: 46%;
    }

    .header__list__item__title {
        font-size: 40px;
        line-height: 40px;
    }

    .header__list__item__text {
        font-size: 18px;
        line-height: 25px;
        margin: 15px 0px;
    }

    .header__list__item__button {
        width: 40%;
        height: 45px;
        font-size: 14px;
    }

    .service__list {
        height: 540px;
    }

    .service__list__item {
        height: 250px;
        padding: 30px;
    }

    .service__list__item h2 {
        font-size: 20px;
        line-height: 10px;
    }

    .service__list__item p {
        font-size: 13px;
        line-height: 20px;
    }

    .service__list__item img {
        width: 40%;
    }

    .service__list__item__button {
        height: 100px;
    }

    .service__text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .service__line {
        margin-top: 0px;
    }

    .service__list__item__button button {
        height: 45px;
        width: 20%;
        font-size: 12px;
    }


    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 50px;
        padding-right: 20px;
    }

    .blog__list__item h2 {
        font-size: 23px;
    }

    .footer{
        height: 250px;
    }
    .footer__list__item img{
       display: none;
    }
    .footer__list__item h2{
        font-size: 16px;
    }
    .footer__list__item p{
        font-size: 14px;
        line-height: 25px;
    }

    .footer__list__item:nth-child(1) p{
        line-height: 25px;
        margin-bottom: 10px;
    }
    .footer__list__item:nth-child(1) span{
        line-height: 20px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 900px) {
    .navbar {
        margin-top: 20px;
    }

    .header {
        height: 320px;
        margin-top: 10px;
    }

    .nav__logo {
        width: 27%;
    }

    .nav__logo img {
        width: 60%;
    }

    .nav__menu {
        width: 60%;
    }

    .nav__menu__item__link {
        font-size: 14px;
    }

    .header__list__item:nth-child(1) {
        width: 47%;
    }

    .header__list__item__title {
        font-size: 37px;
        line-height: 30px;
    }

    .header__list__item__text {
        font-size: 16px;

        line-height: 20px;
        margin: 10px 0;
    }

    .header__list__item__button {
        width: 40%;
        height: 40px;
        font-size: 14px;
    }

    .service__text {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .service__title {
        font-size: 24px;
    }

    .service__line {
        margin-top: 0px;
    }

    .service__text {
        font-size: 15px;
        line-height: 23px;
    }

    .service__list__item img {
        width: 30%;
    }

    .service__list {
        height: 700px;
    }

    .service__list__item {
        width: 45%;
        height: 220px;
    }

    .service__list__item h2 {
        font-size: 20px;
    }

    .service__list__item p {
        font-size: 13px;
    }

    .service__list__item__button {
        height: 80px;
    }

    .service__list__item__button button {
        font-size: 11px;
    }

    .blog__list__item h2 {
        font-size: 18px;
    }

    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 50px;
        padding-right: 20px;
    }

    .footer__list__item:nth-child(1){
        width:35%;
    }

    .footer__list__item h2{
        font-size: 17px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__logo {
        width: 20%;
    }

    .nav__logo img {
        width: 90%;
    }

    .header {
        height: 280px;
    }

    .nav__menu {
        width: 60%;
    }

    .nav__menu__item__link {
        font-size: 13px;
    }

    .header__list__item:nth-child(1) {
        width: 47%;
    }

    .header__list__item__title {
        font-size: 33px;
        line-height: 30px;
    }

    .header__list__item__text {
        font-size: 13px;

        line-height: 20px;
        margin: 5px 0;
    }

    .header__list__item__button {
        width: 40%;
        height: 30px;
        font-size: 10px;
    }

    .service__list__item__button {
        height: 60px;
    }

    .service__text {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .service__title {
        font-size: 22px;
    }

    .service__line {
        margin-top: 0px;
    }

    .service__list {
        height: 630px;
    }

    .service__list__item {
        height: 200px;
    }

    .service__list__item__button button {
        /* width: 20%; */
        height: 35px;
    }

    .service__list__item img {
        width: 26%;
    }


    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 20px;
        padding-right: 0px;
    }

    .footer__list__item:nth-child(1){
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .nav__logo {
        width: 18%;
    }

    .nav__logo img {
        width: 95%;
    }

    .header {
        height: 240px;
    }

    .nav__menu {
        width: 60%;
    }

    .header__list__item__title {
        font-size: 29px;
    }

    .nav__menu__item__link {
        font-size: 12px;
    }

    .service__line {
        margin: 0 auto;
    }

    .service__title {
        font-size: 19px;
    }

    .service__text {
        margin-bottom: 20px;
        font-size: 13px;
    }

    .service__list__item h2 {
        font-size: 19px;
    }


    .blog__list__item h2 {
        font-size: 16px;
    }

    .blog__list__item p {
        font-size: 12px;
    }

    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 10px;
    }

    .blog__list__item button {
        height: 30px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .nav__logo {
        width: 25%;
    }

    .nav__menu {
        display: none;
    }

    .navbar {
        margin-top: 10px;
    }

    .header {
        margin-top: 5px;
        height: 210px;
    }

    .menu_icon {
        display: block;
        width: 20px;
    }

    .header__list__item__title {
        font-size: 24px;
        line-height: 24px;
    }

    .header__list__item__text {
        line-height: 18px;
    }

    .header__list__item__button {
        height: 25px;
        font-size: 8px;
    }

    .service__text {
        font-size: 13px;
        line-height: 18px;
    }

    .service__title {
        font-size: 20px;
    }

    .service__list__item {
        width: 100%;
    }

    .service__list__item img {
        width: 15%;
    }

    .service__list {
        height: 1300px;
    }

    .blog__list__item h2 {
        font-size: 15px;
        line-height: 20px;
        /*width: 100%;*/
    }

    .blog__list__item p {
        font-size: 10px;
    }

    .footer__list__item h2{
        font-size: 14px;
    }

    .footer__list__item p{
        font-size: 10px;
        line-height: 20px;
    }
    .footer__list__item:nth-child(1) span{
        font-size: 10px;
        line-height: 9px;
    }
}

@media only screen and (max-width: 500px) {
    .nav__logo {
        width: 40%;
    }

    .menu_icon {
        width: 30px;
    }

    .header__list__item:nth-child(2) {
        display: none;
    }

    .header__list__item:nth-child(1) {
        width: 100%;
    }

    .header__list__item__button {
        width: 30%;
        height: 35px;
        font-size: 13px;
    }

    .header__list__item__title {
        font-size: 35px;
        line-height: 40px;
    }

    .header {
        margin-top: 30px;
    }

    .header__list__item__text {
        font-size: 18px;
        line-height: 25px;
    }

    .service__list__item img {
        width: 70px;
        height: 70px;
    }

    .service__list__item div {
        width: 60%;
    }

    .service__list {
        height: 950px;
        display: flex;
        align-items: center;
    }

    .service__title {
        font-size: 18px;
        margin-top: 20px;
    }

    .service__text {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .service__list__item {
        width: 100%;
        height: 150px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }


    .blog__list__item h2 {
        font-size: 12px;
    }

    .blog__list__item:nth-child(1) {
        display: none;
    }

    .blog__list__item:nth-child(4) {
        display: none;
    }

    .blog__list__item:nth-child(2), .blog__list__item:nth-child(3) {
        padding-left: 0;
    }

    .blog__list__item button {
        font-size: 9px;
    }

    .service__list__item__button button{
        width: 80px;
    }
    .footer__list__item{
        align-items: flex-start;
    }
    .blog__list__item h2{
        line-height: 15px;
        display: flex;
        align-items: start;
        height: 60px;
    }

    .blog__list__item p{
        height: 150px;
        display: flex;
        align-items: start;
        /*background-color: red;*/
    }

    .footer__list__item:nth-child(1){
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .nav__logo {
        width: 50%;
    }

    .nav__menu {
        width: 50%;
    }

    .header__list__item__button {
        width: 40%;
    }

    .service__list__item {
        padding: 10px;
    }

    .service__list {
        height: 1000px;
        display: flex;
        align-items: center;
    }

    .footer{
        height: 150px;
    }
    .footer__list__item p{
        line-height: 10px;
        margin-bottom: 5px;
    }

    .footer__list__item:nth-child(1) p{
        line-height: 14px;
        margin-bottom: 5px;
    }

    .blog{
        margin-top: 40px;
    }
    .blog__list__item h2{
        line-height: 15px;
        display: flex;
        align-items: start;
        height: 60px;
    }

    .blog__list__item p{
        height: 90px;
        display: flex;
        align-items: start;
        /*background-color: red;*/
    }

    .footer__list__item:nth-child(1){
        display: none;
    }

}

